<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="RisksManagementService.Service">
        <endpoint address="" binding="basicHttpBinding" contract="RisksManagementService.IService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/RisksManagementService/Service/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <connectionStrings>
    <add name="RisksManagementDatabase"
         connectionString="Data Source=ALZA;Initial Catalog=RisksManagement;MultipleActiveResultSets=True;Integrated Security=True;"/>
  </connectionStrings>

</configuration>